# US President Tweets Analysis

In [2]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv('tweets.csv')

# Descriptive Analysis

In [4]:
df.head()

,id,text,isRetweet,isDeleted,device,favorites,retweets,date,isFlagged
0,98454970654916608,Republicans and Democrats have both created ou...,f,f,TweetDeck,49,255,2011-08-02 18:07:48,f
1,1234653427789070336,I was thrilled to be back in the Great city of...,f,f,Twitter for iPhone,73748,17404,2020-03-03 01:34:50,f
2,1218010753434820614,RT @CBS_Herridge: READ: Letter to surveillance...,t,f,Twitter for iPhone,0,7396,2020-01-17 03:22:47,f
3,1304875170860015617,The Unsolicited Mail In Ballot Scam is a major...,f,f,Twitter for iPhone,80527,23502,2020-09-12 20:10:58,f
4,1218159531554897920,RT @MZHemingway: Very friendly telling of even...,t,f,Twitter for iPhone,0,9081,2020-01-17 13:13:59,f

In [5]:
df.shape

(56571, 9)

In [6]:
df.dtypes

id            int64
text         object
isRetweet    object
isDeleted    object
device       object
favorites     int64
retweets      int64
date         object
isFlagged    object
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56571 entries, 0 to 56570
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         56571 non-null  int64
 1   text       56571 non-null  object
 2   isRetweet  56571 non-null  object
 3   isDeleted  56571 non-null  object
 4   device     56571 non-null  object
 5   favorites  56571 non-null  int64
 6   retweets   56571 non-null  int64
 7   date       56571 non-null  object
 8   isFlagged  56571 non-null  object
dtypes: int64(3), object(6)
memory usage: 3.9+ MB

## Drop Unwanted columns from the dataset

In [11]:
new_df = df.drop(['id'],axis = 1)

In [12]:
new_df.head()

,text,isRetweet,isDeleted,device,favorites,retweets,date,isFlagged
0,Republicans and Democrats have both created ou...,f,f,TweetDeck,49,255,2011-08-02 18:07:48,f
1,I was thrilled to be back in the Great city of...,f,f,Twitter for iPhone,73748,17404,2020-03-03 01:34:50,f
2,RT @CBS_Herridge: READ: Letter to surveillance...,t,f,Twitter for iPhone,0,7396,2020-01-17 03:22:47,f
3,The Unsolicited Mail In Ballot Scam is a major...,f,f,Twitter for iPhone,80527,23502,2020-09-12 20:10:58,f
4,RT @MZHemingway: Very friendly telling of even...,t,f,Twitter for iPhone,0,9081,2020-01-17 13:13:59,f

In [16]:
new_df.shape

(56571, 8)

# Statistical Analysis

In [14]:
new_df.describe()

          favorites       retweets
count  5.657100e+04   56571.000000
mean   2.834955e+04    8618.987467
std    5.781564e+04   13306.132408
min    0.000000e+00       0.000000
25%    1.000000e+01      59.000000
50%    1.640000e+02    3450.000000
75%    4.393850e+04   13014.500000
max    1.869706e+06  408866.000000

# Checking Duplicate Rows

In [17]:
duplicate_rows_df = new_df[new_df.duplicated()]
print(sum(new_df.duplicated()))

0

## Identifying the NULL values

In [18]:
print(df.isnull().sum())

id           0
text         0
isRetweet    0
isDeleted    0
device       0
favorites    0
retweets     0
date         0
isFlagged    0
dtype: int64